node_modules
package-lock.json
.vscode
src/server/config.js
src/server/access.log
scratch
draft.js
dist/asset/bundle-front.js
dist/asset/bundle-front.js.map
dist/asset/bundle-back.js
.env
.env.development
.env.production