.header {

    display: flex;
    justify-content: flex-start;

    font-size: 3rem;
    letter-spacing: .5rem;
    font-weight: 600;
    text-transform: uppercase;

    margin: 5rem 4rem;

    &__logo-box {
        text-align: center;
    }

    &__text {
        color: $color-tertiary;
    }
}