.item {

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin: 0 2rem 2rem 2rem;
    }

    &__primaryImage {
        width: 90%;
        // height: 80％;

        margin-bottom: 1.5rem;
    }

    &__addImg--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 90%;
    }

    &__additionalImages {
        width: 5rem;
        height: 5rem;

        margin: 1rem 2rem;

        transition: all .2s;

        // TODO: Add hover effect.
        &:after {
            opacity: 0;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:hover:after {
            opacity: 1;
        }
    }

    &__container--text {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        font-size: 1.1rem;
        color: $color-grey-dark-3;
        letter-spacing: .1rem;

        width: 90%;
    }

    &__text--strong {
        font-weight: 600;
    }

    &__title {

    }

    &__artistDisplayName {

    }

    &__artistDate {

    }

    &__artistNationality {

    }

    &__objectURL {

        color: $color-quaternary-light;

        &:hover {
            color: $color-quaternary-dark;
            text-decoration: none !important;
            outline: none;
            border-style: none;
        }

    }
}

/////////////////////////////////////////
/// OVERWRITE BOOTSTRAP MODAL


