
.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-gap: 6rem;
  justify-content: space-around;
  margin: 10rem 3rem 3rem 3rem;

  &__item {
    height: 200px;
  }
}
