.num {
  display: flex;
  justify-content: center;

  font-size: 1.5rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 8rem;
  justify-content: space-around;
  margin: 10rem 0 3rem 0;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    margin: 9rem 1rem 3rem 1rem;
  }

  &__item {

    position:relative;

    overflow: hidden;

    transition: all .5s;

    &:hover {
      transform: scale(1.05);
    }

    &:after {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      content:attr(data-title);
      color: #fff;
      position: absolute;
      width: 100%; height: 120%;
      top: 0; left: 0;
      background: rgba(0, 0, 0, .6);
      opacity: 0;
      transition: all .5s;
      -webkit-transition: all .5s;
    }

    &:hover:after {
      opacity: 1;
      height: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: block;
  }
}






// .image {
//   position:relative;
//   width:400px;
//   height:400px;
// }
// .image img {
//   width:100%;
//   vertical-align:top;
// }
// .image:after {
//   content:'Here is some text..';
//   color:#fff;
//   position:absolute;
//   width:100%; height:100%;
//   top:0; left:0;
//   background:rgba(0,0,0,0.6);
//   opacity:0;
//   transition: all 0.5s;
//   -webkit-transition: all 0.5s;
// }
// .image:hover:after {
//   opacity:1;
// }