.search {

    &__icon {
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 5.8rem;
        right: 12.5rem;
        z-index: 200;

        fill: $color-grey-dark;

        transition: all .5s;

        @include respond(phone) {
            height: 4rem;
            width: 3rem;
            top: 5rem;
            right: 10.8rem;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}