.form {

    &__group {
        margin-bottom: .2rem;

        display: flex;
        align-items: center;
        flex-direction: column;

        @include respond(phone) {
            margin-bottom: .5rem;
        }

        &--nav {
            margin-bottom: .2rem;

            display: flex;
            align-items: center;
            flex-direction: column;

            width: 90%;
        }
    }

    &__input {
        font-size: 1.2rem;
        font-family: inherit;
        color: inherit;
        padding: .5rem .5rem;
        border: 1px solid $color-grey-dark-2;
        background-color: rgba($color-white, 1);
        width: 80%;
        transition: all .3s;

        @include respond(tab-port) {
            width: 75%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-success;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-red;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }


    &__label {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: .5rem;

        @include respond(phone) {
            margin-top: .1rem;
        }

        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
    }


    &__loginLink {
        color: $color-quaternary-light;
        font-size: 1.3rem;

        @include respond(phone) {
            margin-top: 1rem;
        }

        &:hover {
            text-decoration: none;
            color: $color-quaternary-dark;
        }
    }

    &__registerLink {
        color: $color-quaternary-light;
        font-size: 1.3rem;

        @include respond(phone) {
            margin-top: 1rem;
        }

        &:hover {
            text-decoration: none;
            color: $color-quaternary-dark;
        }
    }


    &__inNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__inSearch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 3rem;
    }

}


// OVERWRITE BOOTSTRAP
.form-group {
    display: flex;
    margin-bottom: 1.5rem;

    width: 80%;
}